body {
	font-family: "arial","sans-serif";
	font-size: 14pt;
	text-align: left;
    margin: 0px;
}

#banner {
	text-align: center;
    background: url(../images/header.png);
    height: 90px;
}

#menu {
    margin-top: 10px;
}
.registerPanel {
	margin: 0 auto;
	width: 30%;
}
.menuLeft {
	float:left;
	margin-left: 1%;
}
.menuRight {
	float:right;
	margin-right: 1%;
}
.profileLogo .homeLogo {
    vertical-align: bottom;
}

#main { 
	margin: 0 auto;
	clear: both;
}
