body {
	font-family: "arial","sans-serif";
	font-size: 14pt;
	text-align: left;
    margin: 0px;
}

#banner {
	text-align: center;
    background: url(../images/header.png);
    height: 90px;
}

#menu {
    margin-top: 10px;
}
.registerPanel {
	margin: 0 auto;
	width: 30%;
}
.menuLeft {
	float:left;
	margin-left: 1%;
}
.menuRight {
	float:right;
	margin-right: 1%;
}
.profileLogo .homeLogo {
    vertical-align: bottom;
}

#main { 
	margin: 0 auto;
	clear: both;
}

.courseVideos {
	margin: 0 auto;
	width: 1200px;
	overflow:hidden;
}
.courseBox {
	background-color: #90D050;
	width: 350px;
	height: 270px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    overflow:hidden;
    box-shadow: 5px 5px 5px gray;
}
.courseSmallBox {
	background-color: #90D050;
	width: 350px;
	height: 240px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    overflow:hidden;
    box-shadow: 5px 5px 5px gray;
}
.courseDetails {
	width: 600px;
	height: 240px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border-style: dotted;
    border-color: gray;
    border-width: 2px;
    padding: 10px;
    overflow:auto;
    box-shadow: 5px 5px 5px gray;
}
#viddeoPlayer {
	border-radius: 10px;
	background-color: #90D050;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0 auto;
	width: 520px;
	height: 380px;
}
.price {
	color: blue;
	font-size: 18pt;
}
.rating {
	float:right;
	padding-top: 10px;
}
.rating1 {
	padding-top: 5px;
	padding-right: 10px;
	float:right;
}
.boxRate {
	margin: 0 auto;
	width: 330px;
	padding-top: 10px;
}
.ratingButton {
	float:right;
}
.username {
	color: blue;
}
.comment {
	border-style: dotted;
	border-width: 2px;
    border-color: #90D050;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}